.mega-dropdown {
	%input-spacing {
		margin-bottom: 20px;
		padding: 10px;
		display: block;
		box-sizing: border-box;
		width: 100%;
	}
	@extend %dropdown;
	left:0;
	width: 100%;
	height: 450px;
	overflow: auto;
	.mega-content {
		padding: 0px 20px;
		display: flex;
		.mega-column {
			@extend %flex-column;
			flex-grow: 1;
			width: 25%;
			color: #B2B9BF;
			margin: 30px 10px;
			margin-bottom: 10px;
			h3 {
				margin-bottom: 20px;
			}
		}
		form {
			display: block;
			input {
				@extend %input-style;
				@extend %input-spacing;
			}
			textarea {
				@extend %input-style;
				@extend %input-spacing;
				resize: vertical;
				min-height: 120px;
			}
			button {
				@extend %btn;
				@include btn-color(#2962ff);
			}
		}
		.accordion {
			div	{
				margin-bottom: 20px;
				background-color: #272B34;
				a {
					background: #20232a;
					padding: 20px;
					display: block;
					color: #2962ff;
					&:hover {
						color: #1044d3;
						background-color: #191b20;
					}
				}
				.disapled-a {
					color: #a1aab2;
					&:hover {
						color: #878f95;
						cursor: no-drop;
					}
				}
				p {
					padding: 20px;
					font-size: 16px;
				}
			}
			.disapled {
				p {
					display: none;
				}
			}
		}
		.list-style {
			div	{
				@extend %flex-column;
				margin-top: 15px;
				a {
					color: #ACB4BA;
					margin-bottom: 20px;
					&:hover {
						color: #2962FF;
					}
				}
				i {
					color: #36BEA6;
				}
			}
		}
	}
}