.messages-dropdown {
	@extend %dropdown;
	@extend %fancy-dropdown;
	right:0;
	.header {
		background-image: url('../assets/img/bg.png');
		background-size: 50%;
	}
	.content {
		img {
			margin-right: 15px;
			border-radius: 100%;
			display: block;
			width: 50px;
			height: 50px;
		}
	}
}