.navbar {
	width: 100%;
	display: flex;
	position: fixed;
	top:0;
	left: 0;
	right:0;
	height: 65px;
	background-color: #00b0ff;
	box-sizing: border-box;
	color: white;
	z-index:2;
	a {
		text-decoration: none;
	}
	.banner {
		@extend %aligned-flex;
		// align-items: center;
		background-color: #00b0ff;
		box-sizing: border-box;
		padding: 5px 10px;
		min-width: 250px;
		color: white;
		h1 {
			font-size: 1.3em;
			margin-top: 2px;
		}
		i {
			font-size: 1.5rem;
			margin-right: 7px;
			margin-left: 5px;
		}
	}
	.nav {
		// background-color: #2962FF;
		display: flex;
		justify-content: space-between;
		width: 100%;
		.nav-right {
			display: flex;
			padding: 0px 10px;
		}
		.nav-left {
			display: flex;
			[class$="dropdown"] {
				left: 0px;
			}
		}
		.nav-item {
			display: flex;
			position: relative;
			.nav-link {
				@extend %aligned-flex;
				padding: 0 15px;
				color: inherit;
				span {
					margin-right: 3px;
					font-size: .9rem;
					font-weight: 600;
				}
				&:hover {
					background-color: #214dc7;
					transition: 0.5s;
					color: white;
				}
				&.active{
					background-color: #323743;
					color: white;
				}
				&.visited{
					color: black;
				}
			}
			.icon-only {
				padding: 0px 30px;
			}
		}
		.mega-nav-item {
			position: static;
		}
		.search-nav-item {
			position: static;
		}
	}
}