.noti-dropdown {
	@extend %dropdown;
	@extend %fancy-dropdown;
	right:0;
	.header {
		background-image: url('../assets/img/bg2.png');
		background-size: 50%;
	}
	.content {
		.icon {
			border-radius: 100%;
			padding: 10px 12px;
			margin-right: 10px;
			&.icon-red {
				background-color: #f62d51;
			}
			&.icon-green {
				background-color: #36bea6;
			}
			&.icon-blue {
				background-color: #2962ff;
			}
			&.icon-purple {
				background-color: #7460ee;
			}
		}
	}
}