.search-dropdown {
	@extend %dropdown;
    display: flex;
    height: 100%;
    width: 100%;
    form {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        input {
        	@extend %input-style;
        	border-radius: 0;
        	border: none;
        	border-bottom: 1px solid #4F5467;
            width: 100%;
            padding: 20px;
        }
    }
}
