.user-dropdown {
	@extend %dropdown;
	@extend %simple-dropdown;
	min-width: 280px;
	right: 0;
	.header {
		@extend %aligned-flex;
		color: white;
		padding: 20px 15px;
		background-color: #7460ee;
		i {
			margin-right: 10px;
		}
	}
	a {
		i {
			margin-right: 5px;
		}
	}
	button {
		@extend %btn;
		@include btn-color(#36bea6);
		margin: 5px 20px;
	}
}