<template>
  <div class="wrapper" :class="{'full' : !$store.state.sidebar.visible}">
  	<Navbar/>
    <ServicePanel/>
    <Sidebar/>
    <router-view/>
  </div>
</template>

<script>
import ServicePanel from '@/components/ServicePanel.vue'
import Navbar from '@/components/Navbar.vue'
import Sidebar from '@/components/Sidebar.vue'

export default {
  components: { ServicePanel, Navbar, Sidebar },
  created(){
    this.$router.push('/widget-data')
  }
}
</script>

<style lang="scss" scoped>
	.wrapper{
		padding-top: 65px;
		padding-left: 250px;
    &.full{
      padding-left: 0;
    }
	}
</style>