%background-color-palette {
	&.blue {
		background-color: #2962FF;
	}
	&.purple {
		background-color: #7460EE;
	}
	&.dark {
		background-color: #272B34;
	}
	&.black {
		background-color: black;
	}
	&.cyan {
		background-color: #4fc3f7;
	}
	&.orange {
		background-color: #fb8c00;
	}
	&.light {
		background-color: #e9ecef;
	}
	&.green {
		background-color: #36bea6;
	}
	&.gray {
		background-color: #6C757D;
	}
	&.white {
		background-color: white;
	}
}
%font-color-palette {
	&.blue {
		color: #2962FF;
	}
	&.purple {
		color: #7460EE;
	}
	&.dark {
		color: #272B34;
	}
	&.black {
		color: black;
	}
	&.cyan {
		color: #4fc3f7;
	}
	&.orange {
		color: #fb8c00;
	}
	&.light {
		color: #e9ecef;
	}
	&.green {
		color: #36bea6;
	}
	&.gray {
		color: #6C757D;
	}
	&.white {
		color: white;
	}
}
%dashboard-header {
	div {
		@extend %aligned-flex;
		font-size: 12px;
		margin-top: 5px;
		i {
			margin: 0 10px;
		}
		a {
			color: #2962ff;
			&:hover {
				color: darken(#2962ff, 10%)
			}
		}
	}
}
%dashboard-footer {
	text-align: center;
	font-size: 15px;
	a {
		color: #2962ff;
		&:hover {
			color: darken(#2962ff, 10%)
		}
	}
}
%dashbord-positioning {
	background-color: #323743;
	color: #B2B9BF;
	.dashboard {
		padding: 20px;
		.dashboard-content {
			margin: 30px 0;
			& > * {
				@media screen and (max-width: 1250px) {
					flex-direction: column;
				}
			}
		}
	}
}
.dashboard-container {
	@extend %dashbord-positioning;
	.dashboard-header{
		@extend %dashboard-header;
	}
	.dashboard-footer {
		@extend %dashboard-footer;
	}
	.dashboard {
		i{
			margin-right: 7px;
		}
		.dashboard-content {
			& > * {
				margin: 0 -10px;
				display: flex;
				// flex-direction: column;
				& > * {
					padding: 0 10px;
					margin-bottom: 20px;
					box-sizing: border-box;
				}
			}
			p {
				font-size: 13px;
			}
			.fancy-cards {
				// flex-direction: column;
				.one {
					min-width: 33.33333333%;
					.cover{
						display: flex;
						justify-content: center;
						background-color: #272b34;
						overflow: hidden;
						height: 400px;
						img{
							height: 100%;
						}
					}
					& > :nth-child(2) {
						padding: 22px;
						background-color: #1d1f26;
						p, h3 {
							margin-bottom: 15px;
						}
						h3 {
							font-weight: normal;
						}
						button {
							margin-top: 5px;
						}
						.space-between {
							@extend %aligned-flex;
							justify-content: space-between;
							margin-bottom: 20px;
							font-size: 14px;
							a {
								color: white;
								&:hover {
									color: #2962ff;
								}
							}
						}
					}
				}
			}
			.progressions {
				flex-wrap: wrap;
				.one {
					min-width: 50%;
					& > :only-child {
						padding: 20px;
						background-color: #272B34;
						.progress-bar {
							background-color: #323743;
							border-radius: 2px;
							height: 5px;
							width: 100%;
							margin-top: 10px;
							.progress {
								height: 100%;
								border-radius: 2px;
								&.green {
									background-color: #36BEA6;
								}
								&.blue {
									background-color: #2962FF;
								}
								&.red {
									background-color: #F62D51;
								}
								&.dark {
									background-color: #212529;
								}
							}
						}
					}
				}
			}
			.news {
				.one {
					min-width: 25%;
					& > :only-child {
						padding: 22px;
						color: white;
						i {
							font-size: 20px;
						}
						h3 {
							margin: 20px 0;
							font-weight: normal;
						}
						@extend %background-color-palette;
					}
				}
			}
			.weather {
				.one {
					width: 100%;
					.background-img {
						background-image: url(http://sunnyspellsandscatteredshowers.org/wp-content/uploads/2015/10/stormy-sea.jpg);
						height: 400px;
						& > :only-child {
							padding: 30px 40px;
							color: white;
							i {
								font-size: 3.5rem;
							}
							.temperature {
								display: flex;
								align-items: baseline;
								margin: 15px 0;
								h1 {
									font-size: 50px;
								}
								span {
									font-size: 15px;
									margin-left: 10px;
								}
							}
						}
					}
					.days {
						display: flex;
						background-color: #272B34;
						padding: 20px 0;
						& > * {
							min-width: calc(100% / 6);
							text-align: center;
							padding: 0px 10px;
							box-sizing: border-box;
							border-right: 1px solid #4F5467;
							i {
								margin: 10px 0;
								font-size: 25px;
							}
						}
						& > :last-child {
							border: none;
						}
					}
				}
			}
			.tiny-cards {
				// flex-wrap: wrap;
				.one {
					min-width: 25%;
					box-sizing: border-box;
					& > :only-child {
						@extend %aligned-flex;
						justify-content: space-between;
						background-color: #272B34;
						padding: 25px;
						h2 {
							color: #B2B9BF !important;
							margin-bottom: 0px;
						}
						i {
							font-size: 50px;
						}
						@extend %font-color-palette;
					}
				}
			}
			.averages {
				flex-wrap: wrap;
				.one {
					min-width: calc(100% / 3);
					& > :only-child {
						padding: 25px;
						color: white;
						& > :first-child {
							@extend %aligned-flex;
							margin-bottom: 30px;
							i {
								font-size: 50px;
								margin-right: 15px;
							}
							h3 {
								margin-bottom: 5px;
								letter-spacing: 1.5px;
								font-weight: normal;
							}
						}
						& > :last-child {
							@extend %aligned-flex;
							& > * {
								text-align: center;
							}
							justify-content: space-around;
							p {
								margin-bottom: 2px;
							}
							span {
								font-size: 15px;
							}
						}
						@extend %background-color-palette;
					}
				}
			}
		}
	}
}