<template>
	<div class="user-dropdown">
		<div class="header">
			<i class="fas fa-user-circle fa-3x"></i>
			<div>
				<h4>John Doe</h4>
				<p>John@email.com</p>
			</div>
		</div>
		<a href="3"><i class="far fa-user"></i> My profile</a>
		<a href="3"><i class="fas fa-wallet"></i> My balance</a>
		<a href="#"><i class="far fa-envelope"></i> Inbox</a>
		<hr>
		<a href="#"><i class="fas fa-cog"></i> Account Setting</a>
		<hr>
		<a href="#"><i class="fas fa-power-off"></i> Logout</a>
		<hr>
		<button type="submit">View Profile</button>
	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped lang="scss">
	@import "@/assets/sass/navbar/user-dropdown.scss";
</style>
