<template>
	<ul>
		<li v-for="color in colors">
			<a href="#" class="color" :style="{'background-color' : color}" @click.prevent="select(color)"></a>
		</li>
	</ul>
</template>

<script>
	export default {
		props: ['colors'],
		methods:{
			select(color){
				this.$emit('input' , color)
				this.$emit('change' , color)
			}
		}
	}
</script>

<style scoped lang="scss">
	ul{
		display: flex;
		li{
			margin-right: 7px;
			.color{
				display: inline-block;
				border-radius: 100%;
				padding: 10px;
			}
		}
	}
</style>
