<template>
	<div class="createNew-dropdown">
		<a href="#">Action</a>
		<a href="#">Another Action</a>
		<hr>
		<a href="#">something else here</a>
	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped lang="scss">
	@import '@/assets/sass/navbar/createNew-dropdown.scss';
</style>
