<template>
  <div class="hello">
    <h3>Email Page</h3>
    <p>
  		<a href="#">Dashboard</a> 
  		<i class="fas fa-angle-right"></i> 
  		Eamil Page
  	</p>
    <div class="section">
    	<div class="inbox">
    		<div class="header">
    			<h3>Inbox</h3>
    			<button class="compose-btn">compose</button>
    		</div>
    		<ul class="list">
    			<li>
    					<a href="#">
    						<img src="@/assets/img/18.png">
    						<div class="email-content">
    							<div class="email-header">
    								<p><i class="fas fa-circle"></i>Nirav Josni</p>
										<p class="date">March 24</p>
    							</div>
    							<div class="email-body">
    								<p>This is the simple subject line, your subject will be apear here. Aenean commodo ligula eget dolor</p>
    							</div>
    						</div>
    					</a>
  				</li>
    		</ul>
    	</div>
    	<div class="email"></div>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style scoped lang="scss">
	.section{
		display: flex;
		background-color:#272b34;
		padding: 25px;
	}
</style>
