<template>
	<div class="languages-dropdown">
		<a href="#">English</a>
		<a href="#">French</a>
		<a href="#">Spanish</a>
		<a href="#">German</a>
	</div>
</template>

<script>
export default {
  
}
</script>

<style scoped lang="scss">
	@import "@/assets/sass/navbar/languages-dropdown.scss";
</style>
