<template>
	<div class="comments-conainer">
		<div class='comment'>
			<div class='photo'><img src="@/assets/img/19.png"></div>
			<div class='content'>
				<h5>Roy Mekel</h5>
				<p>Just see the my admin! <br/> 9:30 AM</p>
			</div>
		</div>
		<div class='comment'>
			<div class='photo'><img src="@/assets/img/18.png"></div>
			<div class='content'>
				<h5>Ray Hudson</h5>
				<p>I am a singer! <br/> 9:08 AM</p>
			</div>
		</div>
		<div class='comment'>
			<div class='photo'><img src="@/assets/img/17.png"></div>
			<div class='content'>
				<h5>Lb James</h5>
				<p>Just see the my admin! <br/> 9:30 AM</p>
			</div>
		</div>
		<div class='comment'>
			<div class='photo'><img src="@/assets/img/8.jpg"></div>
			<div class='content'>
				<h5>Don Andres</h5>
				<p>I've sung a song! See you at  <br/>9:10 AM</p>
			</div>
		</div>
		<div class='comment'>
			<div class='photo'><img src="@/assets/img/9.png"></div>
			<div class='content'>
				<h5>Chris Evans</h5>
				<p>Just see the my admin! <br/> 9:30 AM</p>
			</div>
		</div>
		<div class='comment'>
			<div class='photo'><img src="@/assets/img/10.png"></div>
			<div class='content'>
				<h5>Roy Mekel</h5>
				<p>Just see the my admin! <br/> 9:30 AM</p>
			</div>
		</div>
		<div class='comment'>
			<div class='photo'><img src="../assets/img/11.png"></div>
			<div class='content'>
				<h5>Lb James</h5>
				<p>Just see the my admin! <br/> 9:30 AM</p>
			</div>
		</div>
		<div class='comment'>
			<div class='photo'><img src="../assets/img/12.png"></div>
			<div class='content'>
				<h5>Roy Mekel</h5>
				<p>Just see the my admin! <br/> 9:30 AM</p>
			</div>
		</div>
		<div class='comment'>
			<div class='photo'><img src="../assets/img/13.png"></div>
			<div class='content'>
				<h5>Don Andres</h5>
				<p>Just see the my admin! <br/> 9:30 AM</p>
			</div>
		</div>								
	</div>
</template>

<style scoped lang="scss">

.comments-conainer {
	height:93%;
	width: 100%;
	padding:0;
	.comment {
		width:100%;
		height:35px;
		border-bottom:solid 1px #4F5467;
		padding:20px 10px;
		div {
			float:left;
		}
		.photo {
			width:20%;
			img{
				width: 40px;
				height: 40px;
				border-radius:50%;
			}
		}
		.content {
			width:80%;
			h5 {
				margin:-10px -5px;
				font-weight:bold;
				font-size:15px
			}
			p {
				margin:17px -5px;
				font-size:10px
			}
		}
	}
}

</style>