<template>
	<div class="mega-dropdown" v-bar>
		<div>
			<div class="mega-content">
				<div class="mega-column carousel">
					<h3>CAROUSEL</h3>
					<el-carousel>
						<el-carousel-item v-for="item in 4" :key="item">
							<h3>{{ item }}</h3>
						</el-carousel-item>
					</el-carousel>
				</div>
				<div class="mega-column accordion">
					<h3>ACCORDION</h3>
					<div class="cover">
						<a href="#" @click.prevent="switchAccordion('simple')" class="layer">Simple</a>
						<transition name="slide">
							<p v-if="activeAccordion === 'simple'">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
						</transition>
					</div>
					<div class="cover">
						<a href="#" @click.prevent="switchAccordion('fancy')" class="layer">★ Fancy title ★</a>
						<transition name="slide">
							<p v-if="activeAccordion === 'fancy'">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quae. Voluptatum, blanditiis, quia. Tempora ex veritatis quos, assumenda maxime, quod rem mollitia numquam enim distinctio quaerat cupiditate possimus consequuntur deleniti culpa in debitis eligendi alias dolor temporibus similique nisi eius. Ipsum doloribus beatae ducimus nostrum aliquid explicabo, ea fugiat recusandae itaque at qui maiores ab inventore dolore ullam rerum vitae.</p>
						</transition>
					</div>
					<div class="disapled">
						<a href="#" class="disapled-a">Disapled</a>
						<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
					</div>
				</div>
				<div class="mega-column list-style">
					<h3>List style</h3>
					<div>
						<a href="#" class="white-a"><i class="fa fa-check"></i> You can give link</a>
						<a href="#" class="white-a"><i class="fa fa-check"></i> Give link</a>
						<a href="#" class="white-a"><i class="fa fa-check"></i>  Another Give link</a>
						<a href="#" class="white-a"><i class="fa fa-check"></i>  Forth link</a>
						<a href="#" class="white-a"><i class="fa fa-check"></i>  Another fifth link</a>
					</div>
				</div>
				<div class="mega-column contact-us">
					<h3>CONTACT US</h3>
					<form>
						<input type="text" name="" class="input-style" placeholder="Enter Name">
						<input type="text" name="" class="input-style" placeholder="Enter Mail">
						<textarea placeholder="Message" class="input-style"></textarea>
						<button type="submit">submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				activeAccordion: '',
			}
		},
		methods:{
			switchAccordion(accordion){
				if (this.activeAccordion === accordion) {
					this.activeAccordion = ''
				}
				else{
					this.activeAccordion = accordion
				}
			}
		}
	}
</script>

<style>
	.el-carousel__item{
		display: flex;
		justify-content: center;
		align-items: center;
	}
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
</style>

<style scoped lang="scss">
.layer{
	position: relative;
	z-index: 2;
}
.cover{
	overflow: hidden;
}
.slide-enter-active, .slide-leave-active {
	z-index: 1;
	transition: all .3s;
}
.slide-enter, .slide-leave-to {
	margin-top: -80px;
}
@import "@/assets/sass/navbar/mega-dropdown.scss";
</style>
