<template>
	<div class="messages-dropdown">
		<div class="header">
			<div>
				<h4>5 New</h4>
				<span>Messages</span>
			</div>
		</div>
		<div class="content">
			<a href="">
				<span>
					<img src="@/assets/img/10.png">
				</span>
				<span>
					<h5>Events today</h5>
					<p>Just see the my new admin</p>
					<p>9:30 AM</p>
				</span>
			</a>
			<a href="">
				<span>
					<img src="@/assets/img/13.png">
				</span>
				<span>
					<h5>Settings</h5>
					<p>Just see the my new admin</p>
					<p>9:30 AM</p>
				</span>
			</a>
			<a href="">
				<span>
					<img src="@/assets/img/12.png">
				</span>
				<span>
					<h5>Pavan Kumar</h5>
					<p>Just see the my new admin</p>
					<p>9:30 AM</p>
				</span>
			</a>
		</div>
		<div class="footer">
			<a href="">See all e-Mails <i class="fas fa-angle-right"></i></a>
		</div>
	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped lang="scss">
	@import "@/assets/sass/navbar/messages-dropdown.scss";
</style>
