<template>
	<div class="navbar" :style="{'background-color': navbarBackground}" v-inverse>
		<a href="#" class="banner" :style="{'background-color': logoBackground}" v-inverse.img>
			<i class="fas fa-columns"></i>
			<h1>Adminy</h1>
		</a>
		<div class="nav">
			<ul class="nav-left">
				<li class="nav-item">
					<a href="#" class="nav-link icon-only" @click.prevent="$store.commit('toggleSidebar')">
						<i class="fas fa-bars"></i>
					</a>
				</li>
				<li class="nav-item mega-nav-item">
					<a href="#" class="nav-link" @click.prevent="switchDropdown('mega')" :class="{'active' : isActive('mega')}">
						<span>Mega</span>
						<i class="fas fa-angle-down"></i>
					</a>
					<transition name="slide">
						<Mega v-if="currentDropdown === 'mega'" v-click-outside="() => onClickOutside('mega')"/>
					</transition>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" @click.prevent="switchDropdown('createNew')" :class="{'active' : isActive('createNew')}">
						<span>Create New</span>
						<i class="fas fa-angle-down"></i>
					</a>
					<transition name="slide">
						<CreateNew v-if="currentDropdown === 'createNew'" v-click-outside="() => onClickOutside('createNew')"/>
					</transition>
				</li>
				<li class="nav-item search-nav-item">
					<a href="#" class="nav-link icon-only" @click.prevent="switchDropdown('search')" :class="{'active' : isActive('search')}">
						<i class="fas fa-search"></i>
					</a>
					<Search v-if="currentDropdown === 'search'" v-click-outside="() => onClickOutside('search')"/>
				</li>
			</ul>
			<ul class="nav-right">
				<li class="nav-item languages-nav-item">
					<a href="#" class="nav-link icon-only" @click.prevent="switchDropdown('languages')" :class="{'active' : isActive('languages')}">
						<i class="fas fa-globe fa-lg"></i>
					</a>
					<transition name="slide">
						<Languages v-if="currentDropdown === 'languages'" v-click-outside="() => onClickOutside('languages')" />
					</transition>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link icon-only" @click.prevent="switchDropdown('notifictions')" :class="{'active' : isActive('notifictions')}">
						<i class="fas fa-bell"></i>
					</a>
					<transition name="slide">
						<Notifictions v-if="currentDropdown === 'notifictions'" v-click-outside="() => onClickOutside('notifictions')"/>
					</transition>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link icon-only" @click.prevent="switchDropdown('messages')" :class="{'active' : isActive('messages')}">
						<i class="fas fa-comment-alt"></i>
					</a>
					<transition name="slide">
						<Messages v-if="currentDropdown === 'messages'" v-click-outside="() => onClickOutside('messages')"/>
					</transition>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link icon-only" @click.prevent="switchDropdown('account')" :class="{'active' : isActive('account')}">
						<i class="fas fa-user-circle fa-lg"></i>
					</a>
					<transition name="slide">
						<Account v-if="currentDropdown === 'account'" v-click-outside="() => onClickOutside('account')"/>
					</transition>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	const Mega = () => import ('@/components/Mega')
	const CreateNew = () => import ('@/components/CreateNew')
	const Languages = () => import ('@/components/Languages')
	const Messages = () => import ('@/components/Messages')
	const Notifictions = () => import ('@/components/Notifictions')
	const Search = () => import ('@/components/Search')
	const Account = () => import ('@/components/Account')
	export default {
		components: {
			Mega,
			CreateNew,
			Languages,
			Messages,
			Notifictions,
			Search,
			Account
		},
		data(){
			return{
				showMega: false,
				currentDropdown: ''
			}
		},
		computed:{
			navbarBackground(){
				return this.$store.state.navbar.background
			},
			logoBackground(){
				return this.$store.state.navbar.logoBackground
			},
		},
		methods:{
			switchDropdown(dropdown){
				this.currentDropdown === dropdown ? this.currentDropdown = ''	: this.currentDropdown = dropdown
				
			},
			onClickOutside(dropdown){
				this.currentDropdown === dropdown ? this.currentDropdown = '' : null		
			},
			isActive(dropdown){
				return this.currentDropdown === dropdown
			}
		}
	}
</script>

<style scoped lang="scss">
	.black{
		color: black !important;
	}
	.slide-enter-active, .slide-leave-active {
		z-index: 1;
		transition: all .3s;
	}
	.slide-enter, .slide-leave-to {
		transform: translateY(-600px);
	}
	@import "@/assets/sass/navbar/navbar.scss";
</style>

