<template>
	<div class="noti-dropdown">
		<div class="header">
			<div>
				<h4>4 New</h4>
				<span>Notifications</span>
			</div>
		</div>
			<div v-bar>
				<div class="content">
					<a href="">
						<span class="icon icon-red">
							<i class="fas fa-link"></i>
						</span>
						<span class="mail-content">
							<h5>Events today</h5>
							<p>Just see the my new adminmy new adminmy new adminmy new adminmy new adminmy new adminmy new adminmy new admin</p>
							<p>9:30 AM</p>
						</span>
					</a>
					<a href="">
						<span class="icon icon-green">
							<i class="fas fa-calendar"></i>
						</span>
						<span>
							<h5>Settings</h5>
							<p>Just see the my new admin</p>
							<p>9:30 AM</p>
						</span>
					</a>
					<a href="">
						<span class="icon icon-blue">
							<i class="fas fa-cog"></i>
						</span>
						<span>
							<h5>Pavan Kumar</h5>
							<p>Just see the my new admin</p>
							<p>9:30 AM</p>
						</span>
					</a>
					<a href="">
						<span class="icon icon-purple">
							<i class="fas fa-user"></i>
						</span>
						<span>
							<h5>Launch Admin</h5>
							<p>Just see the my new admin</p>
							<p>9:30 AM</p>
						</span>
					</a>
				</div>
			</div>
		<div class="footer">
			<a href="">Check all notifications <i class="fas fa-angle-right"></i></a>
		</div>
	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped lang="scss">
	@import "@/assets/sass/navbar/noti-dropdown.scss";
</style>
