<template>
	<div class="search-dropdown">
		<form>
			<input type="text" name="" placeholder="Search & enter" class="input-style">
		</form>
	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped lang="scss">
	@import "@/assets/sass/navbar/search-dropdown.scss";
</style>
