<template>
	<div class="service-panel" :class="{'toggle' : toggle}">
		<a href="#" class="trigger-btn" @click.prevent="toggle = !toggle"><i class="fas fa-cog fa-spin"></i></a>
		<ul>
			<li class="tablinks" :class="setActiveClass('Settings')"><a href="#" @click.prevent="currentTap = 'Settings'"><i class="fas fa-wrench"></i></a></li>
			<li class="tablinks" :class="setActiveClass('Mailbox')"><a href="#" @click.prevent="currentTap = 'Mailbox'"><i class="fas fa-comment-alt"></i></a></li>
			<li class="tablinks" :class="setActiveClass('Timeline')"><a href="#" @click.prevent="currentTap = 'Timeline'"><i class="fas fa-heartbeat"></i></a></li>
		</ul>
		<component :is="currentTap"></component>
	</div >
</template>

<script>
	import Settings from '@/components/Settings'
	import Mailbox from '@/components/Mailbox'
	import Timeline from '@/components/Timeline'
	export default {
		components: {
			Settings,
			Mailbox,
			Timeline
		},
		data(){
			return {
				currentTap: 'Settings',
				toggle: true
			}
		},
		methods:{
			setActiveClass(tab){
				return {'active' : this.currentTap === tab}
			}
		}
	}
</script>

<style scoped lang="scss">
	$panel-background-color:#262d35;
	$panel-btn-color:#B2B9BF;
	$panel-icon-color: #2962FF;
	
	.active{
		border-bottom:solid 2px white;
	}
	.service-panel {
		background-color:#1d1f26;
		min-width: 300px;
		position: fixed;
		color: $panel-btn-color;
		top:65px;
		bottom: 0;	
		right: 0;
		z-index: 2;
		&.toggle{
			right: -300px;
		}
		.trigger-btn{
			  background: white;
		    padding: 12px 20px;
		    color: #1d1f26;
		    position: absolute;
		    top: 45%;
		    left: -56px;
		}
		ul{
			display: flex;
			margin-bottom: 12px;
			li{
				flex-grow: 1;
				a {
					color: white;
					display: inline-block;
					width: 100%;
					box-sizing: border-box;
					text-align: center;
					padding: 13px;
					font-size:20px;
					text-decoration:none;
					&:hover{
						color: darken(white , 15%);
					}
				}
			}
		}
	}
</style>