<template>
	<div>
		<!-- <div class="layout-settings">
			<h4>Layout Settings</h4>
			<el-checkbox-group v-model="checkList">
				<el-checkbox label="Dark Theme"></el-checkbox>
				<el-checkbox label="Fixed Sidebar"></el-checkbox>
				<el-checkbox label="Fixed Header"></el-checkbox>
				<el-checkbox label="Fixed Layout"></el-checkbox>
				<el-checkbox label="Boxed Layout"></el-checkbox>
				<el-checkbox label="Rtl"></el-checkbox>
			</el-checkbox-group>
		</div>
		<div class="sidebar-types">
			<h4>Sidebar Types</h4>
			<el-radio-group v-model="radioList">
				<el-radio :label="'mini'">Mini Sidebar</el-radio>
				<el-radio :label="'icon'">Icon Sidebar</el-radio>
				<el-radio :label="'overlay'">Overlay Sidebar</el-radio>
				<el-radio :label="'full'">Full Sidebar</el-radio>
			</el-radio-group>
		</div>	 -->
		<div class="backgrounds">
			<h4>Logo Backgrounds</h4>
			<ColorPicker :colors="colors" v-model="color" @change="$store.commit('changeLogoBackground' , $event)"/>
		</div>
		<div class="backgrounds">
			<h4>Navbar Backgrounds</h4>
			<ColorPicker :colors="colors" @change="$store.commit('changeNavbarBackground' , $event)"/>
		</div>
	</div>
</template>

<script>
	import ColorPicker from '@/components/ColorPicker';

	export default {
		components: { ColorPicker },
		data(){
			return {
				checkList: ['Dark Theme' , 'Fixed Sidebar'],
				radioList: 'mini',
				colors: ['#2962ff' , '#fe5419' , '#00b0ff' ,'#414755' ,'#e9ecef', '#6659f7'],
				color: '#2962ff'
			}
		}
	}
</script>

<style scoped lang="scss">
.sections {
	margin:0;
	padding: 15px;
	font-weight: bold;
	h4{
		margin-top: 0px;
		margin-bottom: 15px;
	}
}
.layout-settings {
	@extend .sections;
	border-bottom: solid 0.3px #4F5467;
	.el-checkbox-group{
		display: flex;
		flex-direction: column;
		.el-checkbox {
			color: #2962FF;
			font-weight: bold;
			margin-bottom:10px;
			font-size:14px;
			margin-left: 0;
			& /deep/ .el-checkbox__inner{
				background-color: #2962ff;
			}
			& /deep/ .el-checkbox__label{
				color: #2962ff;
			}
		}
	}
}
.sidebar-types {
	@extend .sections;
	border-bottom:solid 0.3px #4F5467;
	.el-radio-group{
		display: flex;
		flex-direction: column;
		.el-radio {
			font-weight: bold;
			margin-bottom:10px;
			font-size:14px;
			margin-left: 0;
		}
	}
}
.backgrounds {
	@extend .sections;
	border-bottom:solid 0.3px #4F5467;
	ul {
		width:100%;
		height:30px;
		margin-top:10px;

		li {
			width:20px;
			height:20px;
			background-color:red;
			float:left;
			margin-right:10px;
			margin-top:0;
			border-radius: 50%;
		}
	}
}
</style>