<template>
	<div class="sidebar" v-bar v-if="$store.state.sidebar.visible" :style="{'background-color' : sidebarBackground}" v-inverse="['black' , 'white']">
		<div>
			<div class="sidebar-header">
				<i class="fas fa-user-circle fa-2x"></i>
				<div>
					<a href="#" @click.prevent="showUser = ! showUser">John Doe<i class="fas fa-angle-down"></i></a>
					<p>John@email.com</p>
					<div class="sidebar-user-dropdown" v-if="showUser">
						<a href="#"><i class="far fa-user"></i> My profile</a>
						<a href="#"><i class="fas fa-wallet"></i> My balance</a>
						<a href="#"><i class="far fa-envelope"></i> Inbox</a>
						<hr>
						<a href="#"><i class="fas fa-cog"></i> Account Setting</a>
						<hr>
						<a href="#"><i class="fas fa-power-off"></i> Logout</a>
					</div>
				</div>
			</div>
			<div class="create-new">
				<a href="#" class="btn-cyan"><i class="fa fa-plus-square"></i> Create New</a>
			</div>
			<div class="title">
				<i class="fas fa-ellipsis-h"></i>
				<span>PERSONAL</span>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('dashboard')">
					<div>
						<i class="fas fa-tachometer-alt fa-lg"></i>
						<span>Dashboards</span>
					</div>
					<i class="fas" :class="toggleIcon('dashboard')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'dashboard'">
					<li>
						<a href=""><i class="fas fa-bullseye"></i>Classic</a>
					</li>
					<li>
						<a href=""><i class="fas fa-bullseye"></i>Hard Well</a>
					</li>
					<li>
						<a href=""><i class="fas fa-bullseye"></i>Bass Drops</a>
					</li>
				</ul>
			</div>
			<div class="title">
				<i class="fas fa-ellipsis-h"></i>
				<span>APPS</span>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper">
					<div>
						<i class="fas fa-envelope fa-lg"></i>
						<span>Email</span>
					</div>
				</a>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('ticket')">
					<div>
						<i class="fas fa-ticket-alt fa-lg"></i>
						<span>Ticket</span>
					</div>
					<i class="fas" :class="toggleIcon('ticket')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'ticket'">
					<li>
						<a href=""><i class="fas fa-list-ul"></i>Ticket List</a>
					</li>
					<li>
						<a href=""><i class="fas fa-info-circle"></i>Ticket Details</a>
					</li>
				</ul>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('extra')">
					<div>
						<i class="fas fa-plus fa-lg"></i>
						<span>Extra</span>
					</div>
					<i class="fas" :class="toggleIcon('extra')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'extra'">
					<li>
						<a href=""><i class="far fa-comments"></i>Chat App</a>
					</li>
					<li>
						<a href=""><i class="far fa-calendar-alt"></i>Calendar</a>
					</li>
					<li>
						<a href=""><i class="fas fa-tasks"></i>Task Board</a>
					</li>
				</ul>
			</div>
			<div class="title">
				<i class="fas fa-ellipsis-h"></i>
				<span>Ui</span>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('widgets')">
					<div>
						<i class="fab fa-simplybuilt fa-lg"></i>
						<span>Widgets</span>
					</div>
					<i class="fas" :class="toggleIcon('widgets')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'widgets'">
					<li>
						<a href=""><i class="fas fa-mobile-alt"></i>Widget Apps</a>
					</li>
					<li>
						<a href="#" @click.prevent="$router.push('widget-data')"><i class="fas fa-database"></i>Widget Data</a>
					</li>
				</ul>
			</div>
			<div class="title">
				<i class="fas fa-ellipsis-h"></i>
				<span>Forms</span>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('elements')">
					<div>
						<i class="fab fa-elementor fa-lg"></i>
						<span>Form Elements</span>
					</div>
					<i class="fas" :class="toggleIcon('elements')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'elements'">
					<li>
						<a href=""><i class="fas fa-keyboard"></i>Form Inputs</a>
					</li>
					<li>
						<a href=""><i class="fas fa-object-group"></i>Input Group</a>
					</li>
					<li>
						<a href=""><i class="fas fa-th"></i>Input Grid</a>
					</li>
				</ul>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('addons')">
					<div>
						<i class="fas fa-puzzle-piece fa-lg"></i>
						<span>Form Addons</span>
					</div>
					<i class="fas" :class="toggleIcon('addons')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'addons'">
					<li>
						<a href=""><i class="fas fa-check-circle"></i>Form Validation</a>
					</li>
					<li>
						<a href=""><i class="fas fa-heading"></i>Input Typehead</a>
					</li>
					<li>
						<a href=""><i class="fas fa-table"></i>Datepicker</a>
					</li>
				</ul>
			</div>
			<div class="title">
				<i class="fas fa-ellipsis-h"></i>
				<span>Charts</span>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('charts')">
					<div>
						<i class="fas fa-chart-pie fa-lg"></i>
						<span>Charts</span>
					</div>
					<i class="fas" :class="toggleIcon('charts')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'charts'">
					<li>
						<a href="#"><i class="fas fa-asterisk"></i>Chart Js</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-asterisk"></i>Chartlist js</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-asterisk"></i>Ngx Chart</a>
					</li>
				</ul>
			</div>
			<div class="title">
				<i class="fas fa-ellipsis-h"></i>
				<span>Maps</span>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper">
					<div>
						<i class="fas fa-map-marked-alt fa-lg"></i>
						<span>Google Maps</span>
					</div>
				</a>
			</div>
			<div class="title">
				<i class="fas fa-ellipsis-h"></i>
				<span>Pages</span>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('ecommerce')">
					<div>
						<i class="fas fa-shopping-cart fa-lg"></i>
						<span>Ecommerce Pages</span>
					</div>
					<i class="fas" :class="toggleIcon('ecommerce')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'ecommerce'">
					<li>
						<a href="#"><i class="fab fa-product-hunt"></i>Products</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-credit-card"></i>Card</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-dolly-flatbed"></i>Orders</a>
					</li>
				</ul>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('authentication')">
					<div>
						<i class="fas fa-user-shield fa-lg"></i>
						<span>Authentication</span>
					</div>
					<i class="fas" :class="toggleIcon('authentication')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'authentication'">
					<li>
						<a href="#"><i class="fas fa-sign-in-alt"></i>Login</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-sign-out-alt"></i>Register</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-exclamation-triangle"></i>404</a>
					</li>
				</ul>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('timeline')">
					<div>
						<i class="fas fa-heartbeat fa-lg"></i>
						<span>Timeline</span>
					</div>
					<i class="fas" :class="toggleIcon('timeline')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'timeline'">
					<li>
						<a href="#"><i class="far fa-hand-point-left"></i>Left Timeline</a>
					</li>
					<li>
						<a href="#"><i class="far fa-hand-point-right"></i>Right Timeline</a>
					</li>
					<li>
						<a href="#"><i class="fab fa-centercode"></i>Center Timeline</a>
					</li>
				</ul>
			</div>
			<div class="collapse">
				<a href="#" class="menu-dropper" @click.prevent="toggleDropdown('icons')">
					<div>
						<i class="fas fa-smile fa-lg"></i>
						<span>Icons</span>
					</div>
					<i class="fas" :class="toggleIcon('icons')"></i>
				</a>
				<ul class="menu" v-if="currentDropdown === 'icons'">
					<li>
						<a href="#"><i class="fab fa-font-awesome"></i>Fontawesome</a>
					</li>
					<li>
						<a href="#"><i class="fab fa-angular"></i>Material Icons</a>
					</li>
				</ul>
			</div>		
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				showUser: false,
				currentDropdown: ''
			}
		},
		computed:{
			sidebarBackground(){
				return this.$store.state.sidebar.background
			}
		},
		methods: {
			toggleDropdown(dropdown){
				if (this.currentDropdown === dropdown) {
					this.currentDropdown = ''
				}
				else{
					this.currentDropdown = dropdown
				}
			},
			toggleIcon(dropdown){
				if (this.currentDropdown == dropdown) {
					return 'fa-angle-down'
				}
				return 'fa-angle-right'
			},
			isActive(dropdown){
				return this.currentDropdown == dropdown
			}
		}
	}
</script>

<style scoped lang="scss">
@import "@/assets/sass/sidebar/sidebar.scss";
</style>
