<template>
	<div class='timeline-tab' data-simplebar>
		<h3>Activity Timeline</h3>
		<div class='time-1'>
			<div class='left'> <img src="@/assets/img/14.png"></div>
			<div class='right'>
				<p> Meeting today<span>  5pm </span><br/> you can write anything</p>
			</div>
		</div>
		<div class='time'>
			<div class='left'> <img src="@/assets/img/15.png"></div>
			<div class='right'>
				<p>Send documents to Clark <br/> <span> Lorem Ipsum is simply</span></p>
			</div>
		</div>
		<div class='time'>
			<div class='left'> <img src="@/assets/img/9.png"></div>
			<div class='right'>
				<p>Meeting today 5pm<br/> <span> Lorem Ipsum is simply</span></p>

			</div>
		</div>
		<div class='time'>
			<div class='left'> <img src="@/assets/img/17.png"></div>
			<div class='right'>
				<p>Send documents to Clark <br/> <span> Lorem Ipsum is simply</span></p>
			</div>
		</div>
		<div class='time'>
			<div class='left'> <img src="@/assets/img/18.png"></div>
			<div class='right'>
				<p>Send documents to Clark <br/> <span> Lorem Ipsum is simply</span></p>
			</div>
		</div>
		<div class='time'>
			<div class='left'> <img src="@/assets/img/19.png"></div>
			<div class='right'>
				<p>Send documents to Clark <br/> <span> Lorem Ipsum is simply</span></p>
			</div>
		</div>
	</div>
</template>

<style scoped lang="scss">
.timeline-tab {
	height:100%;
	width:100%;
	padding: 20px 10px;
	font-size:12px;
	overflow-y: scroll;
	h3 {
		margin:0;
		margin-bottom:15px;
	}
	.time-1 {
			height:50px;
			width:75%;
			border-left:solid 0.5px #E9ECEF;
			border-bottom:solid 0.5px #E9ECEF;
			margin-left:30px;
			.left {
				float:left;
				margin-left: -20px;
				margin-top: -10px;
				margin-right:20px;
				z-index:1;
				width:40px;
				height:40px;
				border-radius:100%;
				img{
					width: 40px;
					height: 40px;
					border-radius:100%;
				}
			}
			.right {
				padding-top:0px;
				p {
					font-size:13px;
					font-weight:bold;
					span {
						display:inline-block;
						font-weight:100;
						font-size:8px;
						margin-left: 4px;
					}
				}
			}
		}

		.time {
			height:90px;
			width:75%;
			border-left:solid 0.5px #E9ECEF;
			border-bottom:solid 0.5px #E9ECEF;
			margin-left:30px;		
			margin-top: -13px;

			.left {
				float:left;
				margin-left: -20px;
				margin-top: 30px;
				margin-right:20px;
				z-index:1;
				width:40px;
				height:40px;
				background-color:green;
				border-radius:100%;
				img{
					width: 40px;
					height: 40px;
					border-radius:100%;
				}
			}
			.right {
				padding-top:0px;
				p {
					font-size:14px;
					display: inline-block;
					margin-top: 30px;
					span {
						display:inline-block;
						font-weight:100;
						font-size:12px;
					}
				}
			}

		}

	}
</style>