<template>
	<div class="dashboard-container">
		<div>
			<div class="dashboard">
				<div class="dashboard-header">
					<h4>Widget Data</h4>
					<div>
						<a href="#">Widgets</a>
						<i class="fas fa-angle-right"></i>
						<span>Widget Data</span>
					</div>
				</div>
				<div class="dashboard-content">
					<div class="fancy-cards">
						<div class="one">
							<div class="cover">
								<img src="@/assets/img/art-creative-flying.jpg">
							</div>
							<div>
								<div class="space-between">
									<div>
										<i class="far fa-calendar-alt"></i>
										<span>20 May 2018</span>
									</div>
									<a href="">
										<i class="fas fa-comments"></i>
										<span>3 Comments</span>
									</a>
								</div>
								<h3>Featured Hydroflora Pots Garden & Outdoors</h3>
								<p>Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
								<button class="btn-green">Read more</button>
							</div>
						</div>
						<div class="one">
							<div class="cover">
								<img src="@/assets/img/blur-branches-dark.jpg">
							</div>
							<div>
								<div class="space-between">
									<div>
										<i class="far fa-calendar-alt"></i>
										<span>20 May 2018</span>
									</div>
									<a href="">
										<i class="fas fa-comments"></i>
										<span>3 Comments</span>
									</a>
								</div>
								<h3>Featured Hydroflora Pots Garden & Outdoors</h3>
								<p>Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
								<button class="btn-red">Read more</button>
							</div>
						</div>
						<div class="one">
							<div class="cover">
								<img src="@/assets/img/architecture-blue-blue-sky.jpg">
							</div>
							<div>
								<div class="space-between">
									<div>
										<i class="far fa-calendar-alt"></i>
										<span>20 May 2018</span>
									</div>
									<a href="">
										<i class="fas fa-comments"></i>
										<span>3 Comments</span>
									</a>
								</div>
								<h3>Featured Hydroflora Pots Garden & Outdoors</h3>
								<p>Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
								<button class="btn-blue">Read more</button>
							</div>
						</div>
					</div>
					<div class="progressions">
						<div class="one">
							<div>
								<h3>26%</h3>
								<p>Total Product</p>
								<div class="progress-bar">
									<div class="progress red" style="width: 25%"></div>
								</div>
							</div>
						</div>
						<div class="one">
							<div>
								<h3>26%</h3>
								<p>Total Product</p>
								<div class="progress-bar">
									<div class="progress green" style="width: 50%"></div>
								</div>
							</div>
						</div>
						<div class="one">
							<div>
								<h3>26%</h3>
								<p>Total Product</p>
								<div class="progress-bar">
									<div class="progress blue" style="width: 90%"></div>
								</div>
							</div>
						</div>
						<div class="one">
							<div>
								<h3>26%</h3>
								<p>Total Product</p>
								<div class="progress-bar">
									<div class="progress dark" style="width: 70%"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="news">
						<div class="one">
							<div class="blue">
								<i class="fas fa-globe-americas"></i>
								<p>25th Jan</p>
								<h3>BBC World News - World - BBC Latest News</h3>
								<p>- john doe</p>
							</div>
						</div>
						<div class="one">
							<div class="purple">
								<i class="fab fa-apple"></i>
								<p>20th Jan</p>
								<h3>Apple Reports Second Quarter Results</h3>
								<p>- Steve Jobs</p>
							</div>
						</div>
						<div class="one">
							<div class="dark">
								<i class="fab fa-skype"></i>
								<p>1th Jan</p>
								<h3>Now Get 50% Off on calling</h3>
								<button class="btn-gray">Default</button>
							</div>
						</div>
						<div class="one">
							<div class="black">
								<i class="fab fa-wordpress"></i>
								<p>25th Jan</p>
								<h3>Dynamic website with responsive</h3>
								<button class="btn-blue">Default</button>
							</div>
						</div>
					</div>
					<div class="weather">
						<div class="one">
							<div class="background-img">
								<div>
									<i class="fas fa-sun"></i>
									<div class="temperature">
										<h1>20°</h1>
										<span>C/7° C</span>
									</div>
									<p>THURSDAY 01.08.2018</p>
								</div>
							</div>
							<div class="days">
								<div>
									<p>TUE</p>
									<i class="fab fa-cloudversify"></i>
									<p>24° C</p>
								</div>
								<div>
									<p>WED</p>
									<i class="fab fa-cloudversify"></i>
									<p>21° C</p>
								</div>
								<div>
									<p>THU</p>
									<i class="fab fa-cloudversify"></i>
									<p>21° C</p>
								</div>
								<div>
									<p>FRI</p>
									<i class="fab fa-cloudversify"></i>
									<p>21° C</p>
								</div>
								<div>
									<p>SAT</p>
									<i class="fab fa-cloudversify"></i>
									<p>21° C</p>
								</div>
								<div>
									<p>SUN</p>
									<i class="fab fa-cloudversify"></i>
									<p>21° C</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tiny-cards">
						<div class="one">
							<div class="blue">
								<div>
									<h2>120</h2>
									<p>News Feed</p>
								</div>
								<i class="far fa-sticky-note"></i>
							</div>
						</div>
						<div class="one">
							<div class="green">
								<div>
									<h2>150</h2>
									<p>Invoices</p>
								</div>
								<i class="far fa-clipboard"></i>
							</div>
						</div>
						<div class="one">
							<div class="orange">
								<div>
									<h2>450</h2>
									<p>Revenue</p>
								</div>
								<i class="fas fa-wallet"></i>
							</div>
						</div>
						<div class="one">
							<div class="cyan">
								<div>
									<h2>100</h2>
									<p>sales</p>
								</div>
								<i class="fas fa-code"></i>
							</div>
						</div>
					</div>
					<div class="tiny-cards">
						<div class="one">
							<div class="blue">
								<i class="far fa-sticky-note"></i>
								<div>
									<h2>120</h2>
									<p>News Feed</p>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="green">
								<i class="far fa-clipboard"></i>
								<div>
									<h2>150</h2>
									<p>Invoices</p>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="orange">
								<i class="fas fa-wallet"></i>
								<div>
									<h2>450</h2>
									<p>Revenue</p>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="cyan">
								<i class="fas fa-code"></i>
								<div>
									<h2>100</h2>
									<p>sales</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tiny-cards">
						<div class="one">
							<div class="blue">
								<div>
									<h2>120</h2>
									<p>News Feed</p>
								</div>
								<i class="far fa-sticky-note"></i>
							</div>
						</div>
						<div class="one">
							<div class="green">
								<div>
									<h2>150</h2>
									<p>Invoices</p>
								</div>
								<i class="far fa-clipboard"></i>
							</div>
						</div>
						<div class="one">
							<div class="orange">
								<div>
									<h2>450</h2>
									<p>Revenue</p>
								</div>
								<i class="fas fa-wallet"></i>
							</div>
						</div>
						<div class="one">
							<div class="cyan">
								<div>
									<h2>100</h2>
									<p>sales</p>
								</div>
								<i class="fas fa-code"></i>
							</div>
						</div>
					</div>
					<div class="tiny-cards">
						<div class="one">
							<div class="blue">
								<i class="far fa-sticky-note"></i>
								<div>
									<h2>120</h2>
									<p>News Feed</p>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="green">
								<i class="far fa-clipboard"></i>
								<div>
									<h2>150</h2>
									<p>Invoices</p>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="orange">
								<i class="fas fa-wallet"></i>
								<div>
									<h2>450</h2>
									<p>Revenue</p>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="cyan">
								<i class="fas fa-code"></i>
								<div>
									<h2>100</h2>
									<p>sales</p>
								</div>
							</div>
						</div>
					</div>
					<div class="averages">
						<div class="one">
							<div class="orange">
								<div>
									<i class="fab fa-bitcoin"></i>
									<div>
										<h3>Bitcoin</h3>
										<p>Realestate</p>
									</div>
								</div>
								<div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-down"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="green">
								<div>
									<i class="fab fa-bitcoin"></i>
									<div>
										<h3>Bitcoin</h3>
										<p>Realestate</p>
									</div>
								</div>
								<div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-down"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="gray">
								<div>
									<i class="fab fa-bitcoin"></i>
									<div>
										<h3>Bitcoin</h3>
										<p>Realestate</p>
									</div>
								</div>
								<div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-down"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="gray">
								<div>
									<i class="fab fa-bitcoin"></i>
									<div>
										<h3>Bitcoin</h3>
										<p>Realestate</p>
									</div>
								</div>
								<div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-down"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="cyan">
								<div>
									<i class="fab fa-bitcoin"></i>
									<div>
										<h3>Bitcoin</h3>
										<p>Realestate</p>
									</div>
								</div>
								<div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-down"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
								</div>
							</div>
						</div>
						<div class="one">
							<div class="dark">
								<div>
									<i class="fab fa-bitcoin"></i>
									<div>
										<h3>Bitcoin</h3>
										<p>Realestate</p>
									</div>
								</div>
								<div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-down"></i>
										<span>0.12</span>
									</div>
									<div>
										<p>% 1h</p>
										<i class="fa fa-arrow-up"></i>
										<span>0.12</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dashboard-footer">
					All Rights Reserved by Xtreme Admin. Designed and Developed by <a href="#">WrapPixel</a>.
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped lang="scss">
	@import "@/assets/sass/widget/data.scss"
</style>
