.sidebar {
	position: fixed !important;
	left: 0;
	bottom: 0;
	top: 65px;
	background-color: #1d1f26;
	width: 250px;
	z-index: 0;
	a {
		text-decoration: none;
	}
	i{
		margin-right: 7px;
		transition: transform 1s;
	}
	.sidebar-header {
		@extend %aligned-flex;
		padding: 15px 20px;
		padding-right: 5px;
		margin-top: 10px;
		position: relative;
		i {
			vertical-align: middle;
			margin-left: 5px;
		}
		a {
			color: white;
		}
		p {
			color: #b2b9bf;
			font-size: 13px;
		}
		img {
			margin-right: 10px;
		}
		& > :nth-child(2) {
			width: 0%;
			flex-grow: 1;
			p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.sidebar-user-dropdown {
			@extend %dropdown;
			@extend %simple-dropdown;
			border: 1px solid #4f5467;
			left: 20px;
		}
	}
	.create-new {
		padding: 10px;
		padding-top: 15px;
		a {
			display: block;
		}
	}
	.title {
		padding: 20px;
		* {
			color: #7A7E88;
			font-size: 13px;
		}
	}
	.collapse {
		a {
			display: block;
			color: #B3B5BB;
			&:hover {
				color: white;
			}
		}
		.menu-dropper {
			font-size: 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 14px 15px;
		}
		.menu {
			margin-bottom: 10px;
			a {
				font-size: 14px;
				padding: 12px 25px;
				.fa-bullseye {
					font-size: 10px;
					margin-right: 5px;
					vertical-align: middle;
				}
			}
		}
	}
}