%dropdown {
	position: absolute !important;
	background-color: #323743;
	box-shadow: 1px 1px 15px rgba(0,0,0,.1);
	top: 100%;
}
%simple-dropdown {
	padding-bottom: 10px;
	display: block;
	flex-direction: column;
	hr {
		border: none;
		height: 1px;
		background: #4F5467;
		margin: 10px 0;
	}
	a {
		display: block;
		color: #b2b9bf;
		padding: 15px 18px;
		font-size: 16px;
		&:hover {
			background-color: #272B34;
			color: #16181B;
		}
		&:hover {
			color: white;
		}
	}
}
%fancy-dropdown {
	color: white;
	width: 280px;
	padding-bottom: 10px;
	a {
		color: white;
		display: block;
	}
	.header {
		div	 {
			padding: 20px;
		}
	}
	.content {
		max-height: 317px;
		overflow: auto;
		overflow-x: hidden;
		a {
			@extend %aligned-flex;
			padding: 15px 15px;
			border-bottom: 1px solid #4F5467;
			&:hover {
				background-color: #20232A;
			}
		}
		.mail-content {
			width: 75%;
		}
		p {
			font-size: 13px;
			overflow: hidden;
			color: #a1aab2;
			margin: 1px 0;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	.footer {
		i {
			vertical-align: middle;
		}
		a {
			border-top: 2px solid #4F5467;
			background-color: #2e323d;
			color: #D2D3D5;
			text-align: center;
			padding: 15px 15px;
			&:hover {
				color: white;
				background-color: #20232A;
			}
		}
	}
}
%flex-column {
	display: flex;
	flex-direction: column;
}
%aligned-flex {
	display: flex;
	align-items: center;
}
%input-style {
	border: 1px solid #4F5467;
	border-radius: 2px;
	color: white;
	font-size: 15px;
	background-color: #272B34;
	&:focus {
		background-color: white;
		border: 1px solid #4F5467;
		color: #4f5467;
		outline: 0;
		transition: 0.5s;
	}
	&::placeholder{
		font-family: 'Varela Round', sans-serif; 
	}
}
%btn {
	padding: 10px 20px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	box-shadow: 0 2px 6px 0 black;
	font-family: 'Varela Round', sans-serif;
	outline: none;
	text-align: center;
	&:hover {
		transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,border-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
	}
}
%btn-block {
	width: 100%;
}
@mixin btn-color($c) {
	background-color: $c;
	border-top: 4px solid darken($c, 30%);
	border-top-radius: 100px;
	&:hover {
		background-color: darken($c, 20%);
		color: white;
	}
	&:focus {
		// box-shadow: 0 0 0 0.25rem lighten($c, 30%);
	}
	&:active {
		background-color: lighten($c, 15%);
		transition: 0s;
		// box-shadow: 0 0 200px 50px lighten($c, 20%);
		color: darken($c, 20%);
		border-top: 4px solid lighten($c, 60%);
	}
}
.btn-red {
	@extend %btn;
	@include btn-color(#dc3545);
}
.btn-blue {
	@extend %btn;
	@include btn-color(#007bff);
}
.btn-green {
	@extend %btn;
	@include btn-color(#28a745);
}
.btn-gray {
	@extend %btn;
	@include btn-color(#343a40);
}
.btn-yellow {
	@extend %btn;
	@include btn-color(#ffc107);
}
.btn-cyan {
	@extend %btn;
	@include btn-color(#17a2b8);
}
.btn-block {
	@extend %btn-block;
}
