// Fonts
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

// Global Style
@import "./scrollbar";
#app {
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
* {
    margin: 0px;
    padding: 0px;
}
